@import url("//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");
#topbar .name h1 { margin-left: 45px; }
#topbar.expanded + #title { background-color: #777; opacity: 0.85; }
#topbar .top-bar-section li.active > a { background-color: #008CBA; }

#rssLink .fa { font-size: 150%; vertical-align: middle; color: #ee802f; }

#selfie { width: 40px; height: 40px; margin-left: 5px; margin-top: 2px; position: absolute; -webkit-border-radius: 50px; -moz-border-radius: 50px; -ms-border-radius: 50px; -o-border-radius: 50px; border-radius: 50px; }

#selectLanguage .fa-inverse { color: #222; }

.filler > * { width: 100%; }

.frame { position: relative; }
.frame > .title { position: absolute; bottom: 0; background: rgba(0, 0, 0, 0.5); color: white; padding: 0.7rem 1.25rem; }

div.center > img, div.center > a > img { margin: 0 auto; display: block; padding-bottom: 10px; }

div.cover { height: 150px; background-size: cover; background-repeat: no-repeat; background-position: center; background-clip: border-box; }

img.polaroid { float: left; padding: 10px 10px 30px 10px; background: #eee; border: 1px solid #fff; -webkit-box-shadow: 0px 0px 5px #333333; -moz-box-shadow: 0px 0px 5px #333333; box-shadow: 0px 0px 5px #333333; }

div.polaroid { background: #fff; padding: 10px; text-align: center; -webkit-box-shadow: #222222 2px 2px 5px; -moz-box-shadow: #222222 2px 2px 5px; box-shadow: #222222 2px 2px 5px; display: inline-block; }
div.polaroid.funky { -webkit-transform: rotate(-5deg); -moz-transform: rotate(-5deg); -ms-transform: rotate(-5deg); -o-transform: rotate(-5deg); transform: rotate(-5deg); }
div.polaroid > img, div.polaroid > iframe { display: block; margin-bottom: 5px; }

.illustration { margin: 20px auto; width: 550px; }
.illustration.funky { width: inherit; margin: 0px 5px 20px 30px; float: right; }
.illustration.funky .polaroid { -webkit-transform: rotate(-3deg); -moz-transform: rotate(-3deg); -ms-transform: rotate(-3deg); -o-transform: rotate(-3deg); transform: rotate(-3deg); }

img.photo { border: 1px solid #fff; -webkit-box-shadow: 0px 0px 5px #333333; -moz-box-shadow: 0px 0px 5px #333333; box-shadow: 0px 0px 5px #333333; }

img.thumb { background: #eee; padding: 5px; padding-bottom: 10px; border: 1px solid #fff; -webkit-box-shadow: 0px 0px 5px #333333; -moz-box-shadow: 0px 0px 5px #333333; box-shadow: 0px 0px 5px #333333; margin: 10px 10px 5px 0; }

.pyppeImages { text-align: center; }
.pyppeImages a { vertical-align: top; }

h1, h2, h3, h4, h5, h6 { font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; font-weight: 300; }

#title { /*
background: image-url("tiles.png") repeat scroll center center $cyan;
h1, h5 { color: white;
}
h1 { padding: 10px 0; small { color: white; vertical-align: middle; } &.withTime { margin-bottom: 0; padding-bottom: 0; }
}
.time { padding-bottom: 10px;
}
*/ }
#title.cover { background-size: cover; margin-bottom: 20px; overflow: hidden; }
#title.cover h1, #title.cover h3 { color: white; text-shadow: 0 0 6px rgba(0, 0, 0, 0.5); }
@media only screen and (min-width: 40.063em) { #title.cover { height: 200px; }
  #title.cover h1 { font-size: 4rem; } }
@media only screen and (min-width: 64.063em) { #title.cover { height: 200px; } }

span.hilight, em.hilight { color: black; font-size: 120%; }

body { font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; }

#footer { background: #333; padding: 20px 0; color: #666666; margin-top: 40px; }
#footer h5 { color: #666666; margin-top: 10px; }
#footer .fa-flash { font-size: 150%; color: white; vertical-align: middle; }
#footer ul { float: right; margin: 0; }
@media only screen and (max-width: 40em) { #footer .columns { text-align: center; }
  #footer ul { float: none; display: inline-block; }
  #footer ul > li:first-child { margin-left: 0; } }

pre.hljs { overflow: auto; }

.tooltip.black { background: #111; }
