#rssLink {
  .fa {
    font-size: 120%;
    line-height: 0;
    vertical-align: middle;
    color: #ee802f;
  }
}

#topbar {
  /*
  background-color: #f1f1f1;
  border: none;
  margin-bottom: 0;
  */
  /*
  .navbar-nav {
    > li {
      &.active {
        a, a:focus, a:hover {
          //font-size: 120%;
          font-weight: 700;
          background-color: white;
        }
        background-color: white;
        //background-color: white;
      }
      &:hover a {
        background-color: #eee;
      }
    }
  }
  .navbar-brand {
    @include title-font();
  }
  .hamburger {
    font-size: 150%;
  }
  */

  .navbar-nav {
    > li {
      &.active {
        a, a:focus, a:hover {
          border-bottom: 4px solid $blue;
        }
      }
    }
  }

  .navbar-brand {
    //@include title-font();
    font-weight: 700;
    @include transform(rotate(-3deg));
  }
}

#site-logo {
  $size: 35px;
  width: $size;
  height: $size;
  float: left;
  margin: 0 5px;
  //position: absolute;
  @include border-radius(50px);
}

#selectLanguage {
  .fa-inverse {
    color: #222;
  }
}