@charset "UTF-8";
@import "compass";

.jumbotron {
  background: image-url("jumbotron.jpg") no-repeat center center;
  .container {
    position: relative;
    color: white;
    z-index: 2;
    h1,p {
      @include text-shadow(0 1px 2px rgba(black, 0.7));
    }
    .lead {
      padding-right: 100px;
    }
  }
  position: relative;
  img {
    z-index: 1;
    position: absolute;
    bottom: 0px;
    right: 10px;
    height: 200px;
  }
}