.post-listing {
  margin-bottom: 40px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ddd;

  h1 {
    line-height: 1;
    font-weight: 700;
  }
  .text-muted {
    font-size: 50%;
    font-weight: 400;
    white-space: nowrap;
  }
  .cover {
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: border-box;
    margin-bottom: 10px;

    @include cover-offsets();
  }

  .aside {
    float: right;
    max-width: 200px;
    margin-left: 10px;
    margin-bottom: 10px;
  }

  .read-more-link {
    @include title-font();
    font-weight: 700;
    display: inline-block;
  }
}

.side-info {
  .card {
    background: #eee;
  }
  img {
    width: 100%;
  }
}