@import "compass";
@import "_responsive";

// colors
$blue: #027891;

$body-font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
$title-font-family: "PT Sans Narrow", "Helvetica Neue", Helvetica, Arial, sans-serif;

@mixin title-font() {
  font-family: $title-font-family;
  font-weight: 400;
}

@mixin body-font() {
  font-family: $body-font-family;
}

@mixin cover-offsets() {
  @for $i from 0 through 100 {
    &.cover-offset-#{$i} {
      background-position: center round(percentage($i / 100)); // round(percentage(..)) is idiotic...
    }
  }
}

@mixin muchos-shadowy($main-shadow, $offset, $size, $color) {
  @include text-shadow(
    $main-shadow,
    ($offset)  ($offset) $size $color,
    (-$offset) ($offset) $size $color,
    ($offset)  (-$offset) $size $color,
    (-$offset) (-$offset) $size $color
  )
}

@mixin vertical-gradient($startColor, $endColor) {
  background-color: $startColor;
  @include filter-gradient($startColor, $endColor);
  @include background(linear-gradient(top, $startColor, $endColor));
}

@mixin vertical-gradient-darken($color, $percentage) {
  @include vertical-gradient($color, darken($color, $percentage));
}

// ----- START ANIMATION ----- //

@mixin animation($anim) {
  animation: $anim;
  -webkit-animation: $anim;
  -moz-animation: $anim;
  -o-animation: $anim;
}

@mixin animation-name($n) {
  -webkit-animation-name: $n;
  -moz-animation-name: $n;
  -o-animation-name: $n;
  animation-name: $n;
}

@mixin animation-duration($d) {
  -webkit-animation-duration: $d;
  -moz-animation-duration: $d;
  -o-animation-duration: $d;
  animation-duration: $d;
}

@mixin animation-fill-mode($m) {
  -webkit-animation-fill-mode: $m;
  -moz-animation-fill-mode: $m;
  -o-animation-fill-mode: $m;
  animation-fill-mode: $m;
}

@mixin keyframes($name) {
  @keyframes $name { @content; }
  @-webkit-keyframes $name { @content; }
  @-moz-keyframes $name { @content; }
  @-ms-keyframes $name { @content; }
}

// ----- END ANIMATION ----- //

