.image-collage {
  a {
    display: block;
    margin-bottom: 20px;
  }
  .frame {
    &:hover {
      .title {
        opacity: 1;
      }
    }
    .title {
      opacity: 0;
      @include transition(opacity 0.5s ease-in-out);
    }
  }
}

#comments {
  margin-top: 20px;
}

.bordered-post-image {
  img {
    border: 1px solid #ccc;
  }
  margin-bottom: 1rem;
}

.rightSideContent {
  @media #{$sm-up} {
    float: right;
    margin-left: 10px;
  }
  @media #{$sm-only} {
    width: 300px;
    &.wide {
      width: 400px;
    }
  }
  @media #{$md-up} {
    width: 350px;
    &.wide {
      width: 450px;
    }
  }
  @media #{$xs-only} {
    width: 100%;
  }

  margin-bottom: 20px;
}
