#rssLink {
  .fa {
    font-size: 120%;
    line-height: 0;
    vertical-align: middle;
    color: #ee802f;
  }
}

#topbar {
  .nav-item {
    .nav-link {
      border-bottom: 0.25rem solid transparent;
      padding-bottom: 0.25rem;
    }
    &.active {
      .nav-link {
        border-bottom-color: $blue;
      }
    }
  }

  .navbar-brand {
    //@include title-font();
    font-weight: 700;
    @include transform(rotate(-3deg));
  }
  .navbar-toggler {
    @include border-radius(0);
    background-color: black;
    > i {
      color: white;
    }
  }
}

#site-logo {
  $size: 35px;
  width: $size;
  height: $size;
  float: left;
  margin: 0 5px;
  //position: absolute;
  @include border-radius(50px);
}

#selectLanguage {
  .fa-inverse {
    color: #222;
  }
}