@charset "UTF-8";
@import "compass";
@import "_mixins.scss";
//@import "_foundation.scss";
@import "_bootstrap.scss";
@import "_highcharts.scss";
@import "_topbar.scss";
@import "_images.scss";
@import "_fancybox.scss";
@import "_localization.scss";
@import "_blog.scss";
@import "_post.scss";
@import "_select2.scss";
@import "_twitter-user-graph.scss";

@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,700|PT+Sans+Narrow:300,400,700");

h1,h2,h3,h4,h5,h6 {
  @include title-font();
}

a {
  color: #2A8EBF;
  @include transition(0.3s color ease);
  &:hover, &:focus {
    color: lighten(#2A8EBF, 20%);
    text-decoration: none;
  }
}

@function p($v) {
  @return $v + '%';
}

#title {
  position: relative;
  &.cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 30%;
    background-clip: border-box;
    margin-bottom: 20px;
    overflow: hidden;
    min-height: 200px;

    @for $i from 0 through 100 {
      .cover-offset-#{$i} {
        background-position: center round(percentage($i / 100)); // round(percentage(..)) is idiotic...
      }
    }

    h1, h3 {
      //position: absolute;
      //bottom: 0;
      color: white;
      font-weight: 700;
      /*
      @include text-shadow(
        1px 1px 5px rgba(black, 1.0),
        5px 5px 5px rgba(black, 0.2),
        -5px 5px 5px rgba(black, 0.2),
        5px -5px 5px rgba(black, 0.2),
        -5px -5px 5px rgba(black, 0.2)
      );
      */
      //@include text-shadow(1px 1px 5px rgba(black, 1.0));
      @include muchos-shadowy(1px 1px 5px black, 2px, 5px, rgba(black, 0.3));
    }
  }
  .text {
    position: absolute;
    bottom: 10px;
    //left: 15px;
  }
  .tags {
    position: absolute;
    top: 0;
    right: 0;
  }
}

span.hilight, em.hilight {
  color: black;
  font-size: 120%;
}

body, .popover {
  @include body-font();
}

#footer {
  $textColor: #666;
  background: #333;
  padding: 20px 0;
  color: $textColor;
  margin-top: 40px;
  h5 {
    color: $textColor;
    margin-top: 10px;
  }
  .fa-flash {
    font-size: 150%;
    color: white;
    vertical-align: middle;
  }
  ul {
    float: right;
    margin: 0;
  }

  @media #{$xs-only} {
    .columns {
      text-align: center;
    }
    ul {
      float: none;
      display: inline-block;
      > li:first-child {
        margin-left: 0;
      }
    }
  }

}

small.minor {
  font-size: 80%;
  color: #777;
}

#notFoundGif {
  width: 100%;
}

table.sortable {
  $sortColor: #71C991;
  &.compact-table {
    font-size: 0.85rem;
  }
  .has-tooltip {
    white-space: nowrap;
  }
  th {
    position: relative;
    white-space: nowrap;
    cursor: pointer;
    padding-right: 15px;

    &:hover {
      background-color: rgba($sortColor, 0.3);
    }

    .fa-caret-down {
      position: absolute;
      right: 4px;
      margin-top: 3px;
      font-size: 120%;
    }

    &.sorted {
      background-color: $sortColor;
    }
  }
  tbody {
    td.sorted {
      background-color: rgba($sortColor, 0.5);
    }
    tr {
      vertical-align: top;
    }
  }

  .twitter-user-col {
    position: relative;
    img {
      position: absolute;
      @include border-radius(50%);
      display: inline-block;
      width: 32px;
      height: 32px;
    }
    .user {
      margin-left: 40px;
      small {
        vertical-align: top;
        line-height: 1;
        display: block;
      }
    }
    .label {
      font-weight: 400;
    }
  }
}

.has-tooltip {
  cursor: help;
  white-space: nowrap;
  &:not(.bare):not(th) {
    border-bottom: 1px dotted #818a91;
  }
}
