_site
/pyppe.fi.iml
/.sass-cache/
/data/
/dist/
/environment.sh
/node_modules/
/.jekyll-metadata
/pyppe.fi.sublime-workspace
/package-lock.json

# Specific
/resources/forecross-kisat/*.mp4
/resources/forecross-kisat/*.zip
