<footer id="footer">
  <div class="row">
    <div class="columns medium-6">
      <h5><i class="fa fa-flash"></i> Pyppe productions &copy; @{new org.joda.time.DateTime().toString("yyyy")}</h5>
    </div>
    <div class="columns medium-6">
      <ul class="inline-list">
        @roundIcon(icon: String) = {
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-@icon fa-stack-1x fa-inverse"></i>
              </span>
        }
        <li><a href="http://twitter.com/pyrylahti">@roundIcon("twitter")</a></li>
        <li><a href="https://www.facebook.com/Pyppe">@roundIcon("facebook")</a></li>
        <li><a href="http://www.linkedin.com/in/pyppe">@roundIcon("linkedin")</a></li>
        <li><a href="mailto:pyppe@@iki.fi">@roundIcon("envelope")</a></li>
      </ul>
    </div>
  </div>
</footer>