<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>{% if page.title %}{{ page.title }}{% endif %} &laquo; {{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:creator" content="@pyrylahti" />

  <meta name="description" content="{% if page.excerpt %}{{page.excerpt | clean_meta}}{% else %}{{ site.description }}{% endif %}" />
  {% if page.excerpt %}
  <meta name="og:description" content="{{page.excerpt | clean_meta}}" />
  {% endif %}
  {% if page.title %}
  <meta property="og:title" content="{{ page.title }}" />
  {% endif %}
  {% if page.date %}
  <meta property="article:published_time" content="{{page.date | date_to_xmlschema}}" />
  {% endif %}
  <meta property="og:site_name" content="{{ site.title }}"/>
  {% if page.id %}
    {% if page.meta_image %}
    <meta property="og:image" content="{{site.url}}{{ page.id | content_path }}/{{ page.meta_image | img_size:'large' }}"/>
    {% elsif page.img_aside %}
    <meta property="og:image" content="{{site.url}}{{ page.id | content_path }}/{{ page.img_aside | img_size:'large' }}"/>
    {% else %}
    <meta property="og:image" content="{{site.url}}/img/nyrkki-suussa.png" />
    {% endif %}
  {% else %}
    <meta property="og:image" content="{{site.url}}/img/nyrkki-suussa.png" />
  {% endif %}

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/logo-114.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/logo-72.png" />
  <link rel="apple-touch-icon-precomposed" href="/img/logo-57.png" />
  <link rel="shortcut icon" type="image/png" href="/img/logo-57.png" />

  {% include stylesheets.html %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
  {% if page.css %}<link rel="stylesheet" href="/dist/css/{{ page.css }}" />{% endif %}
  <script type="text/javascript">window.pyppe = { post: {} };</script>
  {% include javascripts.html %}
  <!--<script type="text/javascript" src="/src/js/vendor/highcharts/themes/dark-unica.js"></script>-->
  {% include googleAnalytics.html %}
  {% include twitterWidgets.html %}
</head>
