<nav id="topbar" class="navbar navbar-light navbar-static-top">
  <div class="container">
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
      <i class="fa fa-bars hamburger"></i>
    </button>
    <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar">
      <!--brand-->
      <img id="site-logo" src="/img/pyppe_selfie.jpg" alt="" />
      <a class="navbar-brand lang-fi" href="/">Pyppe.fi</a>
      <a class="navbar-brand lang-en" href="/frontpage/">Pyppe.fi</a>

      <!--left side-->
      <ul class="nav navbar-nav">
        <li class="lang-fi lifeStory nav-item"><a class="nav-link" href="/elamantarina/">Elämäntarina</a></li>
        <li class="lang-en lifeStory nav-item"><a class="nav-link" href="/life-story/">Life story</a></li>

        <li class="lang-fi blog nav-item"><a class="nav-link" href="/blogi/">Blogi</a></li>
        <li class="lang-en blog nav-item"><a class="nav-link" href="/blog/">Blog</a></li>
      </ul>

      <!--right side-->
      <ul class="nav navbar-nav pull-right">
        <li class="nav-item" id="rssLink">
          <a href="/blogi/rss.xml" class="lang-fi nav-link">
            <i class="fa fa-rss-square"></i> RSS
          </a>
          <a href="/blog/rss.xml" class="lang-en nav-link">
            <i class="fa fa-rss-square"></i> RSS
          </a>
        </li>
        <li class="lang-en nav-item">
          <a href="#" class="change-lang nav-link">
            <img src="/img/flag/fi.png" /> Suomeksi
          </a>
        </li>
        <li class="lang-fi nav-item">
          <a href="#" class="change-lang nav-link">
            <img src="/img/flag/us.png" /> In English
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>