<!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/css/mdb.min.css" rel="stylesheet">

<link rel="stylesheet" href="/dist/css/vendor.css?h={{site.resource_hash}}" />
<link rel="stylesheet" href="/dist/css/fancybox/jquery.fancybox.css?h={{site.resource_hash}}" />
<link rel="stylesheet" href="/dist/css/main.css?h={{site.resource_hash}}" />
<link rel="stylesheet" href="/dist/css/syntax.css?h={{site.resource_hash}}" />
{% if page.custom_page_css %}
  <link rel="stylesheet" href="/dist/css/custom/{{page.custom_page_css}}?h={{site.resource_hash}}" />
{% endif %}
{% if page.css %}
  <link rel="stylesheet" href="/dist/css/{{ page.css }}?h={{site.resource_hash}}" />
{% endif %}
<!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" />-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
