---
layout: post
post_language: fi
disqus: 52dbcff3047ed29225ffac80
title: "Morphaa itsesi"
date: 2007-04-06T11:38:00+03:00
categories: general
img_aside: transforms_06_monkey.jpg
excerpt: |
  <p>
    <a href='http://www.st-andrews.ac.uk/'>University of St Andrews</a> (Skotlanti) ja
    <a href='http://www.perceptionlab.com/'>Perception Laboratory</a> tarjoaa mielenkiintoisen Javalla toteutetun
    <a href='http://morph.cs.st-andrews.ac.uk/'>kuvamanipulaatiopalvelun</a>, jolla käyttäjä voi muokata omaa kuvaansa.
    Kuvan voi morphata mm. eri ikäiseksi, roduksi yms.
  </p>
  <p>Kokeilin palvelua omalle kuvalleni, ja nyt on ilo suurimmillaan!</p>
---
<p><a href='http://www.st-andrews.ac.uk/'>University of St Andrews</a> (Skotlanti) ja <a
    href='http://www.perceptionlab.com/'>Perception Laboratory</a> tarjoaa mielenkiintoisen Javalla toteutetun <a
    href='http://morph.cs.st-andrews.ac.uk/'>kuvamanipulaatiopalvelun</a>, jolla käyttäjä voi muokata omaa kuvaansa.
  Kuvan voi morphata mm. eri ikäiseksi, roduksi yms.</p>

<p>Kokeilin palvelua omalle kuvalleni, ja nyt on ilo suurimmillaan!</p>

<div class="row image-collage">
  {% include gridImage.html src="transforms_01_baby.jpg" %}
  {% include gridImage.html src="transforms_02_child.jpg" %}
  {% include gridImage.html src="transforms_03_old.jpg" %}
  {% include gridImage.html src="transforms_04_black.jpg" %}
  {% include gridImage.html src="transforms_05_asian.jpg" %}
  {% include gridImage.html src="transforms_06_monkey.jpg" %}
</div>
