---
layout: post
post_language: fi
disqus: 52dbcff4047ed29225ffac83
title: "Achtung!"
titleCover: cover.jpg
titleStyle: "min-height: 180px;"
date: 2007-07-23T15:12:00+03:00
categories: general
excerpt: |
  <p>Bujaka! HAIJJAAAI!!!! Nyt on tarjolla uskomatonta behind-the-scenes kuvamateriaaliaallekirjoittaneen riehakkaalta
    riemulomalta Saksaan, joka ajoittui aika-akselille 17-22. heinäkuuta kuluvaa vuotta.</p>
---
<p>Bujaka! HAIJJAAAI!!!! Nyt on tarjolla uskomatonta behind-the-scenes kuvamateriaaliaallekirjoittaneen riehakkaalta
riemulomalta Saksaan, joka ajoittui aika-akselille 17-22. heinäkuuta kuluvaa vuotta.</p>

<p>Reissu koostui pähkinäkuoressa:</p>

<ul class="imageCollage small-block-grid-2 medium-block-grid-3">
  {% include gridImage.html src="saksa-01.jpg" title="Armottoman intensiivisestä rentoutumisesta" %}
  {% include gridImage.html src="saksa-02.jpg" title="Reissaamisesta Reinin..." %}
  {% include gridImage.html src="saksa-03.jpg" title="... lähimaastossa" %}
  {% include gridImage.html src="saksa-04.jpg" title="Henkevistä keskusteluista äitimuorin kanssa" %}
  {% include gridImage.html src="saksa-05.jpg" title="Hyvän ruoan nauttimisesta" %}
  {% include gridImage.html src="saksa-06.jpg" title="Sekä tietysti auringossa löhöilystä" %}
</ul>