---
layout: post
post_language: fi
img_aside: 02.jpg
disqus: 52dbcff6047ed29225ffac8c
title: "Loma"
date: 2008-07-16T13:19:00+03:00
excerpt: |
  <p><em>Rakas blogi,</em></p>
  <p>Pyppe-poika viettää parhaillaan kahden viikon pituista kesälomaa ja yrittää siinä sivussa tuskailla dippansa kanssa.
    TOU! Latex kertoo, että pituutta komeudella on kaikenkaikkiaan 99 sivua, ja sanoja 29000. Ei se sisältö, vaan määrä! BUJAKA!</p>
  <p>Pastorikin tietää, että jokaisen pojan unelmakesälomapäivä sisältää käynnin sirkuksessa! Allekirjoittanut kävi siis
    fiilistelemässä Sirkus Caliban eksoottisessa puolijoukkueteltassa Herttoniemessä. Hintaa tältä viihdespektaakkelilta
    pyydettiin muikeat 14.5 euroa yli 5-vuotiailta. Onneksi <b>pappa betalar</b>!</p>
---
<p><em>Rakas blogi,</em></p>

<p>Pyppe-poika viettää parhaillaan kahden viikon pituista kesälomaa ja yrittää siinä sivussa tuskailla dippansa kanssa.
  TOU! Latex kertoo, että pituutta komeudella on kaikenkaikkiaan 99 sivua, ja sanoja 29000. Ei se sisältö, vaan määrä!
  BUJAKA!</p>

<h3>Sirkus Caliba</h3>

<p>Pastorikin tietää, että jokaisen pojan unelmakesälomapäivä sisältää käynnin sirkuksessa! Allekirjoittanut kävi siis
  fiilistelemässä Sirkus Caliban eksoottisessa puolijoukkueteltassa Herttoniemessä. Hintaa tältä viihdespektaakkelilta
  pyydettiin muikeat 14.5 euroa yli 5-vuotiailta. Onneksi <b>pappa betalar</b>!</p>

<p>Oheisista kuvista välittynee murto-osa sirkuksen taianomaisesta tunnelmasta:</p>

<div class="row image-collage">
  {% include gridImage.html src="01.jpg" title="Sirkuksen silmiä hivelevä mainosjuliste antoi osviittaa siitä, että esitys tulisi olemaan ikimuistoinen!" %}
  {% include gridImage.html src="02.jpg" title="Hi-tech, baby!" %}
  {% include gridImage.html src="03.jpg" title="Hymy oli herkässä, kun H-hetki läheni... LOL! XXXD" %}
  {% include gridImage.html src="04.jpg" title="Penkeistäkin välittyi historian siipien havinaa." %}
  {% include gridImage.html src="05.jpg" title="Mitäpä olisi sirkus ilman popkornia..." %}
  {% include gridImage.html src="06.jpg" title="... ja hattaraa? OM NOM NOM NOM!" %}
  {% include gridImage.html src="07.jpg" title="Ananasakäämä!" %}
  {% include gridImage.html src="08.jpg" title="Simsalabim!" %}
  {% include gridImage.html src="09.jpg" title="Hokkuspokkus!" %}
  {% include gridImage.html src="10.jpg" title="Heikun keikun!" %}
</div>

<p>Koskettavista valokuvista &ndash; vai pitäisikö sanoa taideotoksista &ndash; saamme kiittää lauman wanhinta,
  herra ylijohtaja Jarmo Lahtea. Mad props, dawg!</p>

<p>- <em>Pursimies Pyry</em></p>
