---
layout: post
post_language: fi
titleCover: cover.jpg
titleStyle: "min-height: 180px;"
disqus: 52dbcff7047ed29225ffac91
title: "10-ottelu 2009"
date: 2009-09-20T10:13:00+03:00
categories: general
excerpt: |
  <p>'SENTOO!</p>
  <p>Ylipursipäällikkö Lahti ilmoittautuu blogikirjoitusrupeamaan. Yeeeeaaa-aa-aaah! Viime kerrasta onkin aikaa.</p>
  
  <p>Eilen (19. syyskuuta) oli jälleen aika osallistua shakkikerhomme #Turskan vuotuisille yleisurheilukinkereille.
    Oli se hetki vuodesta, kun tanner tutisee Äijien temmeltäessä 10-ottelun merkeissä. YAAARRR! Alla todistusaineistoa
    (kiitokset Jussi Koskelalle) taistelun tiimellyksestä.</p>
---
<p>'SENTOO!</p>

<p>Ylipursipäällikkö Lahti ilmoittautuu blogikirjoitusrupeamaan. Yeeeeaaa-aa-aaah! Viime kerrasta onkin aikaa.</p>

<p>Eilen (19. syyskuuta) oli jälleen aika osallistua shakkikerhomme #Turskan vuotuisille yleisurheilukinkereille. Oli se
  hetki vuodesta, kun tanner tutisee Äijien temmeltäessä 10-ottelun merkeissä. YAAARRR! Alla todistusaineistoa
  (kiitokset Jussi Koskelalle) taistelun tiimellyksestä.</p>

<div class="row image-collage">
  {% include gridImage.html src="01.jpg" %}
  {% include gridImage.html src="02.jpg" %}
  {% include gridImage.html src="03.jpg" %}
  {% include gridImage.html src="04.jpg" %}
  {% include gridImage.html src="05.jpg" %}
  {% include gridImage.html src="06.jpg" %}
  {% include gridImage.html src="07.jpg" %}
  {% include gridImage.html src="08.jpg" %}
  {% include gridImage.html src="09.jpg" %}
  {% include gridImage.html src="10.jpg" %}
  {% include gridImage.html src="11.jpg" %}
  {% include gridImage.html src="12.jpg" %}
  {% include gridImage.html src="13.jpg" %}
  {% include gridImage.html src="14.jpg" %}
  {% include gridImage.html src="15.jpg" %}
  {% include gridImage.html src="16.jpg" %}
  {% include gridImage.html src="17.jpg" %}
  {% include gridImage.html src="18.jpg" %}
  {% include gridImage.html src="19.jpg" %}
</div>

<p><a href="/blog/2008/09/10-ottelu/">Vuosi sitten</a> jäin toiseksi minimalistisella 88 pisteen marginaalilla. Pettymyksen
  karvaan kalkin jälkimaku suussa olin valmistautunut tämän vuoden koitokseen harjoittelemalla intensiivisen
  Raivokkaasti<sup>TM</sup> koko vuoden! Treenaukseni keskittyi 100% voiman lisäämiseen. Tekniikkahan on tunnetusti
  Voiman puutetta. Tämä teki minusta siis suurimmista suurimman ennakkosuosikin (omissa kirjoissani).</p>

<style type="text/css">
  #decathlonTable .label {
    float: right;
  }
</style>

<table id="decathlonTable" class="rightSideContent wide table table-striped">
  <thead>
  <tr>
    <th><strong>Laji</strong></th>
    <th><strong>Tulos 2008</strong></th>
    <th><strong>Tulos 2009</strong></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>110 m aidat</td>
    <td>17,72 s <span class="label label-default">551</span></td>
    <td>18,13 s <span class="label label-danger">512</span></td>
  </tr>
  <tr>
    <td>Seiväs</td>
    <td>160 cm <span class="label label-default">70</span></td>
    <td>215 cm <span class="label label-success">169</span></td>
  </tr>
  <tr>
    <td>Kuula</td>
    <td>8,55 m <span class="label label-default">399</span></td>
    <td>7,60 m <span class="label label-danger">343</span></td>
  </tr>
  <tr>
    <td>Korkeus</td>
    <td>160 cm <span class="label label-default">464</span></td>
    <td>155 cm <span class="label label-danger">426</span></td>
  </tr>
  <tr>
    <td>400 m</td>
    <td>61,48 s <span class="label label-default">364</span></td>
    <td>59,07 s <span class="label label-success">445</span></td>
  </tr>
  <tr>
    <td>100 m</td>
    <td>12,41 s <span class="label label-default">573</span></td>
    <td>11,97 s <span class="label label-success">657</span></td>
  </tr>
  <tr>
    <td>Kiekko</td>
    <td>20,78 m <span class="label label-default">287</span></td>
    <td>19,31 m <span class="label label-danger">259</span></td>
  </tr>
  <tr>
    <td>Pituus</td>
    <td>561 cm <span class="label label-default">504</span></td>
    <td>553 cm <span class="label label-danger">487</span></td>
  </tr>
  <tr>
    <td>Keihäs</td>
    <td>19,5 m <span class="label label-default">155</span></td>
    <td>26,35 m <span class="label label-success">248</span></td>
  </tr>
  <tr>
    <td>1500 m</td>
    <td>5 min 38 s &nbsp;<span class="label label-default">361</span></td>
    <td>5 min 49 s &nbsp;<span class="label label-danger">311</span></td>
  </tr>
  <tr>
    <td style="text-align:right;">Yhteensä:</td>
    <td><span class="label label-default">3728</span></td>
    <td><span class="label label-success">3857</span></td>
  </tr>
  </tbody>
</table>

<p>Sitten asiaan! Ohessa tulokset, jotka puhuvat selvää (ainakin jos oikein silmiään siristää) kieltään siitä, kuinka
  omistautuminen on tuottanut tulosta.</p>

<p>Pisteparannukseni verrattuna viime vuoden otteluihin oli siis valtavat 129 pistettä! ASIAA! Lisäksi voitin viime
  vuoden voittotuloksen ruhtinaallisella 41 pisteellä. Oliko Pyryn hetki viimeinkin koittanut? Saisiko shakkikerhomme
  uuden 10-ottelun ruhtinaan?</p>

<p>No ei?!! <em>Markus the Über Dominator</em> veti jälleen pidemmän korren! NOOO OO OOOOOO OO OOOOO UUUUUUUU U UUUU!
  Ero kaventui <em>olemattomaan</em> 48 pisteeseen, mikä ei todellakaan lohduta -- vaan syö miestä entistä enemmän!
  Kaiken kukkuraksi <em>Markus the Punisher</em> oli edellisen illan ollut viihteellä ja kilpaili tukevassa kankkusessa.
  W-T-F!? :D</p>

<p>Viimeisessä lajissa (1500 metrin juoksu) voitto jo melkein häämötti, mutta jouduin väistelemään Markuksen
  laatoitusansoja! Kyseenalaista toimintaa, sanon minä!</p>

<p>Avautuminen suoritettu. Taas. Sanainen arkkuni on tyhjä. Taas. Enihyy, suuret kiitokset kaikille Ottelijoille,
  toimitsijoille ja vangitsevan kuvamateriaalin tuottajille. Heinille kiitos jälkihoidosta (siis ravinnosta;). Ensi
  vuonna uudestaan, mikäli olen siihen mennessä tappiosta toipunut! :)</p>

<p>P.S. Juho <em>"Seagal"</em> <span style="font-size: 80%">Vähä</span>-Herttualle terveisiä. Dissaisin hyvän
  urheiluhengen mukaisesti teikäläisen blogia, mutta saittisi on alhaalla. Shame on you! ;) Tästä huolimatta lähetän
  syysterveiset tämän haikun kera:</p>

<blockquote class="blockquote">
  <p>Syystuulen tuoksu</p>
  <p>vuotavassa nenässä</p>
  <p>pärskeen aiheuttaa.</p>
</blockquote>

<p>ZEN!</p>