---
layout: post
post_language: fi
disqus: 52dbcff7047ed29225ffac92
titleCover: cover.jpg
title: "Kesätunnelmia"
titleClass: "cover-offset-30"
titleStyle: "min-height: 250px;"
date: 2010-08-01T10:33:00+03:00
categories: general
excerpt: |
  <p>Boom shakalaka! Pyppe-mussukka tuntee pakottavaa tarvetta jakaa kuvakollaasin merkeissä kesätunnelmiaan.</p>
  <p>Mitä siis onkaan tullut tehtyä?</p>
---
<p>Boom shakalaka! Pyppe-mussukka tuntee pakottavaa tarvetta jakaa kuvakollaasin merkeissä kesätunnelmiaan.</p>

<p>Mitä siis onkaan tullut tehtyä?</p>

<ul class="imageCollage small-block-grid-2 medium-block-grid-3">
  {% include gridImage.html src="matkalla1.jpg" %}
  {% include gridImage.html src="matkalla2.jpg" %}
  {% include gridImage.html src="mustikassa.jpg" %}
  {% include gridImage.html src="nukkumassa.jpg" %}
  {% include gridImage.html src="remppa.jpg" %}
  {% include gridImage.html src="salilla.jpg" %}
</ul>

<p>[x] Pakollinen vuosittainen blogimerkintä... check!</p>
