---
layout: post
post_language: en
img_aside: 01.jpg
disqus: 52dbcff7047ed29225ffac94
title: "Operation Zotac ZBOX as a HTPC (HDMI output & WLAN)"
date: 2011-02-05T01:14:00+02:00
categories: general
excerpt: |
  <p>Yo, nard dogs!</p>
  <p>This is the story of one brave man buying a HTPC (Zotac ZBOX HD-ID40), installing XBMC and getting it to work with
    Ubuntu. I'm writing this in English, because</p>
  
  <blockquote>
    <b>a)</b> I believe some other non-Finnish speaking fellows out there might get a kick out of these tips<br/>
    <b>b)</b> I'm interested to see, if writing actually something relevant<sup>1</sup> in English has any effect on the amount of visitors<br/>
    <b>c)</b> I get to write kick-ass one-liners such as <em>"Bloody monkey balls"</em>, and <em>"Tame the beast"</em>. Faaan-tastic!<br/>
  </blockquote>
---
<p>Yo, nard dogs!</p>

<p>This is the story of one brave man buying a HTPC (Zotac ZBOX HD-ID40), installing XBMC and getting it to work with
  Ubuntu. I'm writing this in English, because</p>

<blockquote>
  <b>a)</b> I believe some other non-Finnish speaking fellows out there might get a kick out of these tips<br/>
  <b>b)</b> I'm interested to see, if writing actually something relevant<sup>1</sup> in English has any effect on the amount of visitors<br/>
  <b>c)</b> I get to write kick-ass one-liners such as <em>"Bloody monkey balls"</em>, and <em>"Tame the beast"</em>. Faaan-tastic!<br/>
</blockquote>

<h2>1. The Preface</h2>

<p>So this is what happened. I was minding my own business, idling at IRC, when someone pasted a link of a
  <a href="http://www.verkkokauppa.com/popups/prodinfo.php?id=33770">Zotac ZBOX HD-ID40</a> mini-PC. Bloody monkey balls,
  I had to get one myself in order to still be valued among the coolest people on Earth.</p>

<p>The Zotac did not include any hard-drive or memory, so I had to get those as well. The complete setup was as follows:</p>

<ul>
  <li><a href="http://www.verkkokauppa.com/popups/prodinfo.php?id=33770">Zotac ZBOX HD-ID40</a></li>
  <li><a href="http://www.verkkokauppa.com/popups/prodinfo.php?id=15313">Western Digital Scorpio Black 500GB 2.5" 7200rpm</a></li>
  <li>2 x <a href="http://www.verkkokauppa.com/popups/prodinfo.php?id=34440">Kingston 2GB DDR2 800MHz SODIMM</a></li>
</ul>

<h2>2. The Setup</h2>

<p>I wanted to build a <acronym title="Home Theater PC">HTPC</acronym> setup utilizing WLAN
  (wasn't<sup>2</sup> too keen on having a network cable running across the living room for about 20 meters), using a
  HDTV as an output for audio/video (connected with HDMI) and having XBMC as the media center software.</p>

<h2>3. The Problems</h2>

<p>Well, whadaya know... everything did not work. Main problems were WLAN which got disconnected time after time, and
  getting the HDMI audio output to work. I won't get into all the dirty details I had to endure, in order to get it
  finally working. Instead, here are simply the steps I used, in order to get my setup working.</p>

<h2>4. The Solution</h2>

<p>Tättädädää!</p>

<h3>4.1 Install Ubuntu 10.10</h3>

<p>I installed the <a href="http://www.ubuntu.com/desktop/get-ubuntu/download">32bit Ubuntu 10.10</a> into the ZBOX
  using a USB-stick. You know the drill. I chose to automatically update all packages during installation. Not that
  it should matter.</p>

<h3>4.2 Install additional packages</h3>
<p>I installed the NVIDIA proprietary drivers from the GNOME UI. Also, I installed the following packages:</p>
{% highlight bash %}
sudo apt-get install ubuntu-restricted-extras libvdpau1 nvidia-185-libvdpau
{% endhighlight %}

<p>These are required for proper video/GPU support.</p>

<h3>4.3 Install XBMC</h3>

{% highlight bash %}
sudo add-apt-repository ppa:team-xbmc
sudo apt-get install xbmc xbmc-standalone
{% endhighlight %}

<h3>4.4 Configure audio output through HDMI</h3>

<p>The ZBOX does have HDMI audio output capabilities out of the box. But here's the catch; with Ubuntu they are disabled
  by default. Which makes sense, if you're accustomed to trimming your armpits with scissors that are designed for
  left-handed people <b>EVEN THOUGH</b> you are right-handed! Holy Bat Mobile... Note to self: I'm awesome at metaphors.</p>

<p>Anyway, here's how to enable them:</p>

<ul>
	<li>Execute command <code>sudo alsamixer</code>. Press <em>F6</em>, amd select <em>"HDA NVidia"</em> -card, which
    offers the HDMI audio output</li>
	<li>Press letter M to unmute the channels (text changes from "MM" to "OO")</li>
	<li>Next, use command <code>aplay -l</code> to list audio playback devices available
		<ul><li>For example, I had -- among others -- the following device:
			<code>card 1: NVidia [HDA NVidia], device 7: NVIDIA HDMI [NVIDIA HDMI]</code></li></ul></li>
	<li>Finally, in XBMC audio settings, define custom <em>"audio output device"</em> and <em>"passthrough output device"</em> with the syntax of <code>plughw:$CARD_ID,$DEVICE_ID</code> that matches the HDMI audio device gotten from using the <code>aplay -l</code> command. For example, I used value <code>plughw:1,7</code>.</li>
</ul>

<h3>4.5 Compile WLAN drivers</h3>

<p>I could not get the WLAN driver to function properly. It periodically got disconnected, which was extremely annoying. Also, even though the chipset supports <em>802.11n</em>, it connected only at 54Mbps. I googled the problem, and it was caused by the <em>RaLink RT2860</em> WiFi Network driver. There were many suggestions on how to solve it. Tried many of them, but none of the "simple" tips worked. So finally I was forced to compile the driver by myself. Here are the steps I used to tame the beast:</p>

<ul>
	<li>Download RT2860PCI/mPCI/CB/PCIe(RT2760/RT2790/RT2860/RT2890) drivers to Linux from <a href="http://www.ralinktech.com">http://www.ralinktech.com</a>, and extract it (extraction directory referenced as <code>$SRC_DIR</code> from now on).</li>
	<li>Modify <code>$SRC_DIR/os/linux/config.mk</code> to contain the following parameters (these have value "<code>n</code>" by default):
    {% highlight bash %}HAS_WPA_SUPPLICANT=y
HAS_NATIVE_WPA_SUPPLICANT_SUPPORT=y{% endhighlight %}
	</li>
	<li>Modify <code>$SRC_DIR/common/cmm_wpa.c</code> by finding the only occurrence of string <code>MIX_CIPHER_NOTUSE</code> and replacing it with string <code>WPA_TKIPAES_WPA2_TKIPAES</code></li>
	<li>Compile and install by executing:
    {% highlight bash %}
sudo make
sudo make install
    {% endhighlight %}

	</li>
	<li>Replace the driver
{% highlight bash %}
# Put the WLAN interface down (also disable auto-connect from GNOME Network Manager, if applicable):
sudo ifconfig wlan0 down
# Remove the original driver from Kernel:
sudo rmmod rt2860sta
# Backup (and move) the original driver
sudo mv /lib/modules/2.6.32-27-generic-pae/kernel/drivers/staging/rt2860/rt2860sta.ko $SOMEWHERE_SAFE
# Note, the above-mentioned path may differ. You can use find to locate it. For example:
sudo find /lib/modules/ -name "rt2860sta.ko"
# Probe and generate all modules:
sudo depmod -a
# Install new compiled driver:
sudo insmod $SRC_DIR/os/linux/rt2860sta.ko
# If everything works, perform the following to stick with the new driver (again, paths may differ):
sudo cp $SRC_DIR/os/linux/rt2860sta.ko /lib/modules/2.6.32-27-generic-pae/kernel/drivers/staging/rt2860/.
sudo vi /etc/modules
# And add the following new line:
rt2860sta
{% endhighlight %}

	</li>
</ul>

<h2>5. Enjoy</h2>

<p>Lay back, and enjoy the feeling of true accomplishment. You can't do this Windows, because the bloody thing tends to
  work nowadays. Go figure...</p>

<ul class="imageCollage small-block-grid-2 medium-block-grid-3">
  {% include gridImage.html src="01.jpg" %}
  {% include gridImage.html src="02.jpg" %}
  {% include gridImage.html src="03.jpg" %}
</ul>


<hr />
<sup>1)</sup> Debatable, I know<br/>
<sup>2)</sup> Girlfriend <strike>ordered</strike> <strike>told</strike> kindly suggested not to...
