---
layout: post
title: "New York, very business trip"
post_language: fi
date: 2014-11-01T11:19:40+0200
titleCover: "cover.rocketman.jpg"
titleStyle: "min-height: 300px;"
excerpt: |
  <h2>Whaddup, bitches!?</h2>
  <p>
    Eli suomennettuna <em><b>miten menee kaverit!?</b></em> Nyt on tiukka American-meiningi päällä! Kävin job-related
    duunimatkalla ämeerikan-valtiossa NYYJOOKISSA, aka <b>New York</b>, YO! <b style="font-size: 130%; line-height: 1;">*BOOM*</b>,
    HASHTAG <b style="font-size: 130%; line-height: 1;">MURICA</b>.
  </p>
  <p>
    Mai tsöörnii, eli suomennettuna <em>meikäkundin matka</em>, whaddup, kesti kymmenisen päivää
    (9.&nbsp;-&nbsp;20. October). Blogikirjoitus tulee hieman myöhässä, koska olin niin #MURICA, etten pystynyt puhumaan
    kuin English muutamaan viikkoon. You know?
  </p>
---

<h2>Whaddup, bitches!?</h2>

{% include postImage.html css="rightSideContent" name="whaddup.png" %}

<p>
  Eli suomennettuna <em><b>miten menee kaverit!?</b></em> Nyt on tiukka American-meiningi päällä! Kävin job-related
  duunimatkalla ämeerikan-valtiossa NYYJOOKISSA, aka <b>New York</b>, YO! <b style="font-size: 130%; line-height: 1;">*BOOM*</b>,
  HASHTAG <b style="font-size: 130%; line-height: 1;">MURICA</b>.
</p>
<p>
  Mai tsöörnii, eli suomennettuna <em>meikäkundin matka</em>, whaddup, kesti kymmenisen päivää
  (9.&nbsp;-&nbsp;20. October). Blogikirjoitus tulee hieman myöhässä, koska olin niin #MURICA, etten pystynyt puhumaan
  kuin English muutamaan viikkoon. You know?
</p>

<h2>Kuvamatskuu, hashtag <b>#CHECKTHISOUT</b></h2>
<p>
  Because you know, like, nykypolven generation ei diggaa lukee pitkiä, whaddup, kirjotuxia, laitan you know tähän vähän
  kuvamatskuu, YO-YO-YO!
</p>
<div style="clear:both;"></div>

<div class="row image-collage">
  {% include gridImage.html src="the-crib.jpg" title="CRIB is phat YO!" %}
  {% include gridImage.html src="the-view.jpg" title="The view iz very pleasing to the eye YO!" %}
  {% include gridImage.html src="long-island.jpg" title="Long Island YO!" %}
  {% include gridImage.html src="comic-con.jpg" title="Comic-Con YO!" %}
  {% include gridImage.html src="comic-con-crowd.jpg" title="Star Trek fans YO!" %}
  {% include gridImage.html src="rocketman.jpg" title="William <em>The Rocketman</em> Shatner YO!" %}
  {% include gridImage.html src="epire-state-building.jpg" title="Empire State Building YO!" %}
  {% include gridImage.html src="museum.jpg" title="Museum of Natural History YO!" %}
  {% include gridImage.html src="elephant.jpg" title="Dumbo YO!" %}
  {% include gridImage.html src="park-lake.jpg" title="Central Park YO!" %}
  {% include gridImage.html src="park-selfie.jpg" title="Park #selfie YO!" %}
  {% include gridImage.html src="nhl-game.jpg" title="Rangers-Islanders YO!" %}
  {% include gridImage.html src="nhl-selfie.jpg" title="NHL #selfie YO!" %}
  {% include gridImage.html src="omnom-pizza.jpg" title="Pizza OM-NOM-NOM!" %}
  {% include gridImage.html src="omnom-candy.jpg" title="Candy OM-NOM-NOM!" %}
  {% include gridImage.html src="omnom-cupcakes.jpg" title="Cupcakes OM-NOM-NOM!" %}
  {% include gridImage.html src="omnom-shots.jpg" title="Shots OM-NOM-NOM!" %}
  {% include gridImage.html src="omnom-toys.jpg" title="Toys OM-NOM-NOM!" %}
</div>

<h2>Bisnis trip, you know</h2>
<p>
  Toki kyseessä oli kuitenkin työmatka, all business, you know.
</p>
<div class="row image-collage">
  {% include gridImage.html src="office.jpg" title="Manhattan office YO!" %}
  {% include gridImage.html src="office-view.jpg" title="Office view YO!" %}
  {% include gridImage.html src="all-work.png" title="All work YO!" %}
</div>