---
layout: post
title: "Munamankelin munamatka"
post_language: fi
date: 2014-08-01T13:52:41+0300
titleCover: "cover.jpg"
titleClass: "cover-offset-0"
titleStyle: "min-height: 250px;"
tags: [lulz]
---

<p><em>Rakas Internet-aikakauden päiväkirja,</em></p>

<p>on kesäloman viimeinen viikko. Olen saaressa. Kananmunat ovat vähissä.
  Vajassa on <span class="hilight">munamankeli</span>, aka. <em>mummo-/pappa-aikakauden polkupyörä</em> &trade;.
  On aika viedä munamankeli munamatkalle! <code>o/\o</code> <b>*HIGHFIVE*</b>, baby!
</p>

<p>
  Internet tietää
  <a href="http://www.tarmolahikauppias.fi/oy-sarvsalo-bybutik" target="_blank">lähikaupan olevan arkisin auki klo kahdeksaan asti</a>.
  Kello on vasta vähän yli seitsemän. Matka voi alkaa!
</p>

<!--more-->

<iframe height='405' width='100%' frameborder='0' allowtransparency='true' scrolling='no'
        src='http://www.strava.com/activities/173562940/embed/55474a4af4daf31d39e6eb79c4004c2d85981013'></iframe>

<h2>Kyseessä ei ole kilpailu</h2>
<p>
  Matka alkoi klo 19:27. Mukaani läksi Heini, jolle heti alussa painotin, että kyseessä ei ole kilpailu.
  <span class="hilight">EI KILPAILU</span>, vaan rauhallista matkaamista kohti kananmunien kaihoisaa kutsua.
  Haluan myös painottaa, että vaikka kyseessä olisi ollut  kilpailu, <em>kulkuvälineet eivät olleet tasaväkiset</em>!
</p>

<div class="row image-collage">
  {% include gridImage.html src="epareilu-sporttivehje.jpg" title="Maksimaaliseen urheilusuoritukseen optimoitu epäreilu teräshirviö!" %}
  {% include gridImage.html src="munamankeli.jpg" title="Kivikauden rauhalliseen matkaamiseen tarkoitettu ratsukko." %}
</div>

<p>
  Tästä huolimatta heti alkumetreistä lähtien kävi ilmeiseksi, että nyt lähdettiin veren maku suussa matkaan.
</p>

<div class="row image-collage">
  {% include gridImage.html src="takaa-ajo.jpg" title="Yritin epätoivoisesti pysyä perässä..." %}
  {% include gridImage.html src="pitka-kasi.jpg" title="... ja huomasin, että minulla on pitkä käsi." %}
</div>

<h2>Voi, pettymysten pettymys</h2>

{% include postImage.html name="putiikki-kiinni.jpg" title="Nyyh, nyt ei tullut munaa poskeen :( <small>(pelkästään käteen)</small>" css="rightSideContent postImage" %}

<p>
  Noin viiden kilometrin matkan jälkeen saavuimme Tarmon lähikauppaan. Pettymys oli suuri, kun havaitsimme että kauppa olikin
  mennyt kiinni jo kuudelta. Järkytystä pahensi filosofinen epävarmuus:
  <blockquote class="blockquote">
    <p><em>Mihin voi luottaa, jos ei lähikaupan web-sivun aukiolotietoihin?</em></p>
  </blockquote>
</p>

<h2>Maalaismaiseman eksotiikkaa</h2>

<p>
  Matka jatkui, vaikka taikaraivossa kaiversikin kadonneiden kananmunien katkera kohtalo. Pääsimme kuitenkin
  ihmettelemään maalaismaiseman monimuotoisuutta: robottiruohonleikkureita ja myytäviä koivuja.
</p>

<div class="row image-collage">
  {% include gridImage.html src="ruohonleikkaaja-robotti.jpg" title="Perinteinen kartanon ruohonleikkaajarenki." %}
  {% include gridImage.html src="myytavana.jpg" title="Osta koivu." %}
</div>

<h2>Tappion karvas kalkki <small>(siis jos kyseessä olisi ollut kilpailu)</small></h2>

<p>
  Loppusuoran alkaessa häämöttää Heini &ndash; tuo <em>tappion turmion tuoja</em> &ndash; valjasti maksimaaliseen
  urheilusuoritukseen optimoidun teräshirviönsä päätähuimaavaan loppukiriin. Helkaman luotettava munamankeli
  luuhistui jalkojeni alla, eikä pystynyt vastaamaan viimeiseen rutistukseen.
</p>

<div class="row image-collage">
  {% include gridImage.html src="nayta-dorkalle-pala.jpg" title="Sivistynyt voittaja ei tuo voittoaan tarpeettomasti esille." %}
  {% include gridImage.html src="sivistynyt-haviaja.jpg" title="Hyvä häviäjä ei anna tappion harmittaa." %}
</div>

<p>P.S. Koska kyseessä ei ollut kilpailu, en varsinaisesti hävinnyt.</p>
