---
layout: post
title: "#Bluesteel"
post_language: en
date: 2014-08-20T22:13:46+0300
titleCover: "bluesteel-cover.jpg"
excerpt: |
    <p>Having a photo shoot at your work place?</p>
---

<h3>Releasing my inner Zoolander <small>at a <a href="https://twitter.com/TrademarkNow">@TrademarkNow</a> photo shoot</small></h3>

{% include postImage.html name="bluesteel.jpg" %}

<h3>... and making it three-in-a-row</h3>

{% include postImage.html name="third-time.jpg" %}
{% include postImage.html path="/data/2014/01/taalla-taas-najs/perhe1.large.jpg" %}
{% include postImage.html path="/data/2014/01/taalla-taas-najs/perhe2.large.jpg" %}

<h3>Updating career plan</h3>
<ul>
  <li style="text-decoration: line-through;">Software development</li>
  <li><b>Male modeling</b></li>
</ul>
