---
layout: post
title: "Sosiaalisen median räätälöidyt seurantapalvelut"
date: 2019-02-18T21:08:00+0200
post_language: fi
published: true
meta_image: "some_cover.jpg"
titleCover: "some_cover.jpg"
titleStyle: "min-height: 300px;"
tags: [dev, twitter]
---

<p>
  Lyhyestä virsi kaunis:
</p>
<blockquote class="blockquote">
  <a href="mailto:pyppe@iki.fi">Ota yhteyttä</a>, mikäli kaipaat tapahtumallesi räätälöityä tosiaikaista sosiaalisen median
  seurantapalvelua.
</blockquote>

<p>
  Vuosien mittaan <a href="https://pinnalla.pyppe.fi/" target="_blank">Pinnalla</a>-palvelu on herättänyt paljon mielenkiintoa.
  Palveluun pohjautuen tein viime viikolla tilaustyönä Ylelle puoluejohtajien tekoälypaneeliin Twitter-keskustelun
  <a href="https://pinnalla.pyppe.fi/kioskixai" target="_blank">seurantasivun</a>.
  Lisäksi blogissani julkaistut Twitter-analyysit ovat keränneet kymmeniä tuhansia lukijoita.
  Tietty markkinarako siis on olemassa.
</p>

<!--more-->

<div class="row image-collage">
    {% include gridImage.html class="col-sm-6" src="kioskixai.jpg"  title="KIOSKIxAI Twitter-seuranta" %}
    {% include gridImage.html class="col-sm-6" src="kioskixai2.jpg" title="KIOSKIxAI Twitter-seuranta" %}
  </div>

<h3>Taustalla monen vuoden harrastusprojektit</h3>

<p>
  Olen vuosien varrella toteuttanut useita erilaisia harrastusprojekteja, joista monet ovat liittyneet
  sosiaalisen median tarjoamaan dataan. <a href="https://pinnalla.pyppe.fi/" target="_blank">Pinnalla</a>-palvelun
  kehittämisen aloitin vuoden 2014 loppupuolella.
  Se pyrkii löytämään ja käsittelemään suomalaiset twiitit sekä muodostamaan näistä helppolukuisia vertailuja ja analyysejä.
  Olen myös tehnyt mm. kuvapalvelun häihin, missä kerättiin kamerahuoneessa (ns. "Photo booth") otetut sekä
  Instagramissa jaetut kuvat yhteen ja näytettiin tapahtumapaikan seinällä reaaliaikaisesti.
</p>

<div class="row image-collage">
  {% include gridImage.html class="col-sm-6" src="photo_booth.jpg"     title="Photo booth" %}
  {% include gridImage.html class="col-sm-6" src="pyppe_instagram.jpg" title="Instagram-integraatio" %}
</div>

<h3>Esimerkki tosiaikaisesta kuvaseinästä <small class="text-muted">(näyttää työnantajani Instagram-tilin kuvat)</small></h3>

<div class="embed-responsive embed-responsive-16by9">
  <iframe
    class="embed-responsive-item"
    src="https://media.pyppe.fi/trademarknow"
    frameborder="0" allowfullscreen
  ></iframe>
</div>
