---
layout: page
title: "Blog – random ramblings of Pyppe"
titleHtml: |
  <h1>
    <span class="lang-en">Blog – random ramblings of Pyppe</span>
    <span class="lang-fi">Blogi – Pypen satunnaiset jorinat</span>
  </h1>
  <script>pyppe.finnishPageTitle = 'Blogi – Pypen satunnaiset jorinat';</script>
titleCover: /img/blog_bg.jpg
---

<div class="row">

  <div class="col-lg-8">
    {% if paginator.page != 1 %}
    {% include pagination.html %}
    {% endif %}

    {% for post in paginator.posts %}
    <div class="post-listing">
      <h1><a href="{{ post.url }}">{{ post.title }}</a> <small class="text-muted time-title">{{ post.date | date_to_xmlschema }}</small></h1>
      {% if post.titleCover %}
        <div class="cover{% if post.titleClass %} {{post.titleClass}}{%endif%}" style="background-image: url('{{ post.id | content_path }}/{{ post.titleCover | img_size:'listing' }}');"></div>
      {% endif %}
      {% if post.img_aside %}
        <img src="{{ post.id | content_path }}/{{ post.img_aside | img_size:'listing' }}" class="aside hidden-md-down" />
      {% endif %}
      <div class="caption">{{ post.excerpt }}</div>
      <div style="clear:both"></div>
    </div>
    {% endfor %}

    {% include pagination.html %}
  </div>

  <div class="col-lg-4">
    <div class="side-info well">
      <div class="card">
        <div class="card-block">
          <h3 class="card-title">Pyry-Samuli Lahti</h3>
          <p class="card-text lang-fi">
            Raudanluja herra vanhempi asiantuntija, jolla ei mene sormi suuhun kiperässäkään tilanteessa.
          </p>
          <p class="card-text lang-en">
            A seasoned professional who won't be alarmed when the going gets tough.
          </p>
        </div>
        <img class="card-img-top" src="/img/nyrkki-suussa.png" alt="Professional" />
      </div>
    </div>
  </div>

</div>
